@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    min-height: calc(100vh - 6vh);
    width: calc(100vw - 6vh);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 3vh solid pink;
    overflow-x: hidden;
}

#object {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    font-size: 2rem;
}

#title{
    font-size: 5vh;
}

.block{
    height: 20vh;
    width: 20vh;
    font-size: 4vh;
    padding: 7vh;
    margin: 2vh;
    border: 0.3vh solid grey;
    border-radius: 3vh;
    box-shadow: 1vh 1vh 2vh -1vh rgba(0,0,0,0.4);
}

.block > .login {
    background-color: red;
}

@media only screen and (max-width: 500px){
    #object{
        flex-direction: column
    }
    .block{
        border-radius: 1vh;
        padding: 4vh;
    }
}